body{
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	background-color: #42576B ;
	color:white;
	padding-left: 5px;
	overflow-y: hidden;
}
@media(max-width:1000px) {
	body{
		overflow: scroll;
	}
}
.positioning{
	color:#a0abb5;
}
.details{
	margin-top: -20px;
}
@media(max-width:1000px) {
	.no_mobile{
		display:none;
	}
}

/*Header*/
header{
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: fixed;
	z-index: 2;
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
	top:0;
   left:0;
}
.options{
	display: flex;
	align-items: baseline;
}
.options > p{
	margin-right: 10px;
}
.logo{
	margin-left:10px
}
.fake{
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   height:50px;
   background-color: #546779;
   z-index: 2;
   opacity: .6;
}

/*Home*/
.list{
	overflow-y: scroll;
	max-height: 85vh;
}
.home_container h1{
	/*This styles are for the desktop, where the sidebar is visible*/
	padding-top: 10px;
	padding-left: 10px;
}
@media(max-width:1000px) {
	/*For mobile, without sidebar*/
	.home_container{
		padding-top: 85px;
		padding-left: 0px;
	}
	.list{
		overflow-y: unset;
		max-height: unset;
	}
}
.item{
	background-color: #2e3c4a;
	border-radius:7px;
	margin-right: 10px;
	margin-left: 10px;
	padding:10px;
	margin-bottom:20px;
}
/*Footer*/
.footer{
	text-align: center;
	color:#a0abb5;
	margin-top: 50px;
}

/*Sidebar*/
.sidebar{
	position: absolute;
	top:0;
	left:0;
	height:100vh;
	width: 250px;
}
.info{
	margin-left:10px;
	margin-bottom:30px;
}
.info hr{
	margin-top: -15px;
	opacity: 0.2;
}
.info p{
	/*Adds more 7px*/
	margin-left:7px;
	margin-bottom: -10px;
}
.label{
	opacity: 0.8;
}
main{
	padding-left:260px;
}
.fake, header{
	display: none;
}
@media(max-width:1000px) {
	.sidebar{
		display:none;
	}
	main{
		padding-left: 0px;
	}
	.fake, header{
		display: flex;
	}
}